@model Questionnaire.ViewModels.CreateQuestionViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Create New Question</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        @*Questionnaire Name*@
        <div class="form-group">
            <label class="control-label col-md-2" for="qrName">Questionnaire</label>

            <div class="pull-left col-md-10">
                <label id="qrName" class="control-label text-info">@ViewBag.QuestionnaireName</label>
            </div>
        </div>

        @*Position*@
        <div class="form-group">
            <label class="control-label col-md-2" for="position">Position</label>
            <div class="col-md-10">
                <label id="position" class="control-label text-info">@ViewBag.QuestionPosition</label>
                @*@Html.EditorFor(model => model.Hierarchy, new {htmlAttributes = new {@id = "position", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Hierarchy, "", new {@class = "text-danger"})*@
            </div>
        </div>

        @*Question Text*@
        <div class="form-group">
            <label class="control-label col-md-2" for="quesText">Question/Text</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuesText, new {htmlAttributes = new {@id = "quesText", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.QuesText, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Input Type*@
        <div class="form-group">
            <label class="control-label col-md-2" for="SetNewQuesInputType">Input Type</label>
            <div class="col-md-10">
                @Html.DropDownList("QuestionType", null, htmlAttributes: new {@id = "SetNewQuesInputType", @class = "form-control"})
                @Html.ValidationMessageFor(model => model.QuestionType, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Set up drop down values*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <!-- Placeholder for partialview : Adding dropdown values -->
                <div id="DropDownValuesPlaceHolder" style="display:none;"> </div>
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary pull-right" style="margin-left: 15px;"/>
                @Html.ActionLink("Cancel", "Index", "Question", new { id = ViewBag.QuestionnaireID }, new { @class = "btn btn-warning pull-right" })
            </div>
        </div>
    </div>
   
}
