@model Questionnaire.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hierarchy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hierarchy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuesText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuesText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionnaireMaster.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionnaireMaster.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionType1.QuesType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType1.QuesType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
