@model Questionnaire.ViewModels.EditQuestionViewModel
@section Scripts
{
    <script src="~/Scripts/Custom/AdminEditQues.js"></script>
}
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <h4 class="text-center text-primary">Edit Question</h4>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label class="text-info">Questionnaire</label>
            </div>
            <div class="col-md-10">
                <label>@Model.Questionnaire</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label class="text-info">Question Type</label>
            </div>
            <div class="col-md-10">
                <label id="QuesType">@Model.QuestionType</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label class="text-info">Hierarchy</label>
            </div>
            <div class="col-md-10">
                <label>@Model.Hierarchy</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label class="text-info control-label">Text</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuesText, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.QuesText, "", new {@class = "text-danger"})
            </div>
        </div>

        @*Set up drop down values*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <!-- Placeholder for partialview : Adding dropdown values -->
                <div id="DropDownValuesPlaceHolder" style="display:none;"> </div>

                <div class="row" id="AddAtleast1DDItem" style="margin-top:5px; display:none;">
                    <div class="col-md-12 text-info">
                        You need to add atleast 1 dropdown item before you create the question.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSave" type="submit" value="Save" class="btn btn-success pull-right" style="margin-left: 15px;" />
                @Html.ActionLink("Cancel", "Index", "Question", new { id = @Model.QuestionnaireID }, new { @class = "btn btn-primary pull-right" })
            </div>
        </div>

    </div>
}

