@model IEnumerable<Questionnaire.ViewModels.ViewQuestionsViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Questions</h2>
<hr />

<h4 class="text-info">@ViewBag.QuestionnaireName</h4>

<table class="table table-striped">
    <tr>
        <th>
            Position
        </th>
        <th>
            Question
        </th>
        <th>
            Input Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hierarchy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuesText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<div class="row">
    <div class="pull-right">@Html.ActionLink("Create New", "Create", "Question", new { id = ViewBag.QuestionnaireID }, new { @class = "btn btn-primary" })</div>
</div>